.DropdownMenu {
  font-family: 'Arial';
  border-collapse:collapse;
  display: flex;
  flex-direction: column;
  position: relative;

    ul {
      position: absolute;
      overflow: auto;
      min-width: 265px;
      margin-top: 1.2em;
      padding-left: 0;
      width:20em;
      list-style: none;
      border-radius: 6px;  
      background-color: #f4f4f4;
      cursor: pointer;
      li {
        padding: 0.5em 1.5em;
        font-size: 0.8rem;
        font-family: 'Arial';
        color:#555
      }
      li:hover {
        background-color: #00cccc;
        color: black;
      }
      li:first-child {
        border-radius: 6px 6px 0 0;
      }

      li:last-child {
        border-radius: 0 0 6px 6px;
      }
    }
    .caret {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: #ffffff transparent transparent transparent;
      display: inline-block;
      margin-left: 6px;
      top: -3px;
      position: relative;
      transform: rotate(0deg);
      transition: all .25s ease-in;
    }
    
    .open-caret {
      transform: rotate(180deg);
      transition: all .25s ease-out;
    }
}


